

build-publish-scripts/textmerger
build-publish-scripts/textmerger-*.tar.gz
textmerger/node_modules
build-publish-scripts/src
build-publish-scripts/pkg
build-publish-scripts/textmerger-debug-*-x86_64.pkg.tar.zst
build-publish-scripts/textmerger-*-x86_64.pkg.tar.zst
textmerger/package-lock.json