# Virtual environment
venv/
ENV/
env/
.venv/

# PyInstaller
build/
dist/
*.spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test artifacts
tests/__pycache__/

.flatpak-builder
.flatpak-build/

/build-publish-scripts/*tar.gz*

aur-repo-textmerger
build-publish-scripts/textmerger
build-publish-scripts/textmerger-*-any.pkg.tar.zst