# Core dependencies
PyQt5>=5.15.0
Flask>=2.0.0
Werkzeug>=2.0.0

# Optional dependencies
# For Jupyter Notebook support: nbformat>=5.0
# For PDF support: PyPDF2>=2.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
json5==0.12.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyterlab==4.5.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
keyring==25.7.0
lensfun==0.3.4
libfdt==1.7.2
libtorrent==2.0.11
lit==21.1.5.dev0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.2.1
mdurl==0.1.2
meson==1.9.1
mistune==3.1.4
more-itertools==10.8.0
multidict==6.7.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
notebook==7.5.0
notebook_shim==0.2.4
oauthlib==3.3.1
open-fprintd==0.6

