pkgbase = textmerger
	pkgdesc = A Rust/Tauri GTK3 application for merging text files
	pkgver = 2.0.0
	pkgrel = 3
	url = https://github.com/pierspad/textmerger
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk
	depends = gtk3
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = pango
	depends = libappindicator-gtk3
	source = textmerger-2.0.0.tar.gz::https://github.com/pierspad/textmerger/archive/refs/tags/v2.0.0.tar.gz
	sha256sums = edfb3b72a02cb6e473f54433c1c67a27100cb0c3a3c7df51b800bae2533ce54c

pkgname = textmerger
