pkgbase = textmerger
	pkgdesc = A Rust/Tauri GTK3 application for merging text files
	pkgver = 2.2.2
	pkgrel = 3
	url = https://github.com/pierspad/textmerger
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = pango
	depends = libappindicator-gtk3
	options = !lto
	source = textmerger-2.2.2.tar.gz
	sha256sums = SKIP

pkgname = textmerger
