[Desktop Entry]
Name=TextMerger
Comment=A Python GUI application for merging text files
Exec=textmerger
Icon=textmerger
Terminal=false
Type=Application
Categories=Utility;TextTools;Office;
StartupWMClass=TextMerger
StartupNotify=true
Keywords=text;merge;files;editor;

